/* Homepage */
#homepage #hero .gridbox {
  justify-content: center;
  grid-template-columns: 6% 88% 6%;
  background-color: var(--wt-turq);
  color: var(--dk-turq);
  border-radius: 7px;
  padding: 20px;
  align-items: center;
}
#homepage #hero .bracket {
  grid-row: 1 / span 2;
  grid-column: 1;
}
#homepage #hero .bracket.right {
  transform: rotate(180deg);
  grid-column: 3;
}
#homepage #hero .text {
  text-align: center;
  padding: 0 10px;
}
#homepage #hero h1, #homepage #hero h2 {
  color: var(--dk-turq);
  margin: 5px 0;
}
#homepage #hero p {
  margin-bottom: 0;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  padding: 0 30px;
}
#homepage #work h2 {
  margin: 20px 0 5px;
}
#homepage #work .flexbox {
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 10px;
}
#homepage #work .project {
  margin-bottom: 25px;
}
#homepage #work img {
  border-radius: 7px;
}
#homepage #work h3 {
  margin: 8px 0 5px;
}
#homepage #work p {
  margin: 0 0 5px;
}

/* SVG */

#homepage svg {
  height: 533px;
  width: 1000px;
  border-radius: 7px;
}
@keyframes sky-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
#sky {
  animation-duration: 70s;
  animation-name: sky-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 2418.049px 2418.049px;
}
@keyframes fog-move {
  from {transform: translate(1237px,1290px);}
  to {transform: translate(-1765px,1290px);}
}
#fog {
  animation-duration: 30s;
  animation-name: fog-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/* Medium devices (1024px or smaller) */
@media only screen and (max-width: 1024px) {
  #homepage #hero {
    padding: 10px 15px 0;
  }
  #homepage #hero .gridbox {
    grid-template-columns: 6% 88% 6%;
  }
  #homepage #hero .bracket {
    grid-row: 1 / span 1;
  }
  #homepage #hero p {
    grid-column: 2 / span 1;
    padding: 0;
  }
  #homepage .animation {
    height: 341px;
  }
  #homepage svg {
    height: auto;
    width: 100%;
  }
}

/* Small devices (640px and smaller) */
@media only screen and (max-width: 640px) {
  #header .col-sm-12 {
    padding: 0 15px;
  }
  #homepage header {
    padding-bottom: 0;
  }
  #homepage #hero {
    border-radius: 0;
  }
  #homepage #hero.container {
    margin-top: 5px;
  }
  #homepage #hero h2 {
    font-size: 1.2em;
  }
  #homepage #hero p {
    grid-column: 1 / span 3;
  }
  #homepage #work h2 {
    margin: 20px 0 5px;
  }
  #homepage #work .flexbox .project {
    margin-bottom: 35px;
  }

}
