/* Macrame Case Study */
:root {
  --navy: #2c3c6a;
  --ivory: #faf5e9;
  --sage: #3b665f;
  --peach: #deb491;
  --gold: #cc9933;
  --orange: #cf6f30;
}

#macrame b {
  font-weight: 600;
}

#macrame .case-study .page {
  background-color: #faf5e9;
  font-family: 'Poppins', sans-serif;
  color: var(--navy);
  line-height: 1.4;
  box-sizing: content-box;
  background-repeat: no-repeat;
}

#macrame .case-study .content {
  padding: 20px 30px;
  border: solid var(--gold) 3px;
  border-radius: 7px;
  height: 540px;
}

#macrame .case-study h2 {
  font-weight: 700;
  color: var(--navy);
  text-align: left;
  margin: 0;
}

#macrame .case-study h3 {
  font-weight: 600;
  font-size: 1em;
  color: var(--navy);
  text-align: left;
  margin: 13px 0 0;
}

#macrame .case-study h4 {
  color: var(--gold);
  font-weight: 400;
  font-size: .8em;
}

#macrame .case-study p, #macrame .case-study ul {
  margin: 2px 0 7px;
  font-size: 14px;
}

#macrame .case-study figcaption, #macrame .case-study h5 {
  color: var(--orange);
  font-size: .7em;
  line-height: 1.3em;
  margin: 0;
  font-weight: 400;
}

/* page one */
#macrame .case-study .page#one {
  background-image: url("../img/macrame/mockups/title_bg@2x.png");
  background-size: 100%;
}

#macrame .case-study .page#one .content {
  padding: 30px 40px;
}

#macrame .case-study .page#one img {
  width: 152px;
}

#macrame .case-study .page#one p {
  text-align: right;
  padding: 160px 165px 0 0;
  font-size: 1em;
}

/* page two */
#macrame .case-study .page#two {
  background-image: url("../img/macrame/mockups/iphone_hand@2x.png");
  background-size: 42%;
  background-position: right bottom;
  background-color: var(--peach);
}

#macrame .case-study .page#two .content {
  padding-right: 330px;
}

/* page three */
#macrame .case-study .page#three h3 {
  margin-top: 10px;
}

#macrame .case-study .page#three img {
  width: 90%;
}

#macrame .case-study .page#three .logo-images.flexbox {
  justify-content: space-around;
  margin-bottom: 10px;
}

#macrame .case-study .page#three .logo-padding.col-lg-8 {
  padding-top: 32px;
  float: left;
}

#macrame .case-study .page#three picture.logo-padding {
  float: right;
}

#macrame .case-study .page#three .bad-logos.flexbox figure {
  width: 20%;
  margin-bottom: 5px;
}

#macrame .case-study .page#three .bad-logos img {
  width: 80%;
}

/* page four */
#macrame .case-study .page#four ol {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}

#macrame .case-study .page#four ol li {
  padding-bottom: 10px;
}

#macrame .case-study .page#four ol li span {
  font-weight: 500;
}

#macrame .case-study .page#four .product img {
  margin: 10px 0 15px;
}

#macrame .case-study .page#four .imagery.flexbox, .context.flexbox {
  align-items: center;
}

#macrame .case-study .page#four .context img {
  width: 95%;
}

/* page five */
#macrame .case-study .page#five .typography .poppins-heading {
  color: var(--orange);
  font-weight: 600;
  font-size: 1em;
  margin-top: 5px;
  line-height: 1.6;
}

#macrame .case-study .page#five .typography .poppins-body {
  color: var(--orange);
  font-weight: 400;
  font-size: .9em;
}

#macrame .case-study .page#five .typography .heirarchy p {
  font-size: 1em;
  font-weight: 600;
  color: var(--navy);
  margin-bottom: 5px;
}

#macrame .case-study .page#five h3.icons {
  margin: 10px 0;
}

#macrame .case-study .page#five .icons figure {
  width: 16%;
}

#macrame .case-study .page#five .icons img {
  width: 45%;
  margin-bottom: 5px;
}

#macrame .case-study .page#five .colors figure {
  width: 20%;
}

#macrame .case-study .page#five .colors img {
  width: 50%;
}

#macrame .case-study .page#five .ui-elements.gridbox {
  column-gap: 7px;
  row-gap: 0;
  grid-template-columns: 35% repeat(2, 1fr);
  grid-template-rows: 21% repeat(3, 1fr);
  align-items: center;
  margin-top: 20px;
}

#macrame .case-study .page#five .ui-elements .top {
  align-self: baseline;
}

#macrame .case-study .page#five .ui-elements h3 {
  line-height: 19px;
  margin: 0;
}

#macrame .case-study .page#five .ui-elements p {
  margin: 0;
}

#macrame .case-study .page#five .ui-elements .active {
  font-weight: 600;
}

#macrame .case-study .page#five .ui-elements .primary {
  background-color: var(--sage);
  color: var(--ivory);
  font-weight: 400;
  font-size: 11px;
  border-radius: 3px;
  text-align: center;
  padding: 7px 0;
}

#macrame .case-study .page#five .ui-elements .primary.active {
  padding: 3px 0;
}

#macrame .case-study .page#five .ui-elements .primary.active div {
  border: 1px solid var(--ivory);
  border-radius: 2px;
  padding: 3px 0;
  margin: 0 3px;
}

#macrame .case-study .page#five .ui-elements .second {
  font-weight: 400;
  font-size: 11px;
  text-decoration: underline;
  padding: 8px 0;
}

#macrame .case-study .page#five .ui-elements img {
  width: 20%;
}

#macrame .case-study .page#five .design_elements {
  margin-top: 7px;
}

/* page six */
#macrame .case-study .page#six {
  background-color: var(--peach);
}

#macrame .case-study .page#six .user-stories .col-lg-6lg-4 {
  margin-top: 5px;
}

/* page seven */
#macrame .case-study .page#seven {
  background-color: var(--gold);
}

#macrame .case-study .page#seven .content {
  border-color: var(--ivory);
}

#macrame .case-study .page#seven .up {
  padding-top: 75px;
}

#macrame .case-study .page#seven .down {
  padding-top: 185px;
}

#macrame .case-study .page#seven figcaption {
  color: var(--navy);
}

/* page eight */
#macrame .case-study .page#eight {
  background-color: var(--sage);
}

#macrame .case-study .page#eight .gridbox {
  column-gap: 7px;
  row-gap: 15px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 30px 1fr;
  align-items: end;
  margin-top: 10px;
}

#macrame .case-study .page#eight picture {
  align-self: start;
}

#macrame .case-study .page#eight h2 {
  color: var(--ivory);
}

#macrame .case-study .page#eight img {
  padding-left: 5px;
}

#macrame .case-study .page#eight h5 {
  color: var(--gold);
  font-weight: 500;
  text-align: center;
  font-size: .8em;
}

/* page nine */
#macrame .case-study .page#nine .col-lg-4 span {
  padding: 0 30px;
}

#macrame .case-study .page#nine .user1 figcaption {
  margin-bottom: 2px;
}

#macrame .case-study .page#nine .user1 img {
  border: 1px solid var(--gold);
  box-shadow: 3px 3px 8px rgb(204 153 51 / 40%);
}

#macrame .case-study .page#nine .user2 .flexbox {
  margin-top: 5px;
}

#macrame .case-study .page#nine .user2 img {
  padding-left: 5px;
  height: 165px;
}

#macrame .case-study .page#nine .user3 img {
  width: 57%;
}

/* page ten */
#macrame .case-study .page#ten {
  background-color: var(--navy);
}

#macrame .case-study .page#ten .content {
  background-color: white;
  align-items: center;
}

#macrame .case-study .page#ten .prototype {
  width: 250px;
  height: 425px;
  margin: 0 auto;
  display: block;
}

#macrame .case-study .page#ten picture.right-align {
  text-align: right;
}

#macrame .case-study .page#ten h2 {
  color: var(--navy);
  align-items: baseline;
}

#macrame .case-study .page#ten h3 {
  text-align: center;
}

#macrame .case-study .page#ten img {
  width: 84%;
}

#macrame .case-study .page#ten .gridbox {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  justify-content: space-evenly;
  margin: 15px 10px 0 30px;
  text-align: center;
  align-items: center;
}

#macrame .case-study .page#ten .gridbox .one {
  grid-column: 1;
}

#macrame .case-study .page#ten .gridbox .two {
  grid-column: 2;
}

#macrame .case-study .page#ten .gridbox .three {
  grid-column: 3;
}

#macrame .case-study .page#ten .gridbox .four {
  grid-column: 4;
}

#macrame .case-study .page#ten .gridbox .five {
  grid-column: 5;
}

#macrame .case-study .page#ten .gridbox .six {
  grid-column: 6;
}

#macrame .case-study .page#ten iframe .standalone {
  background-color: var(--navy) !important;
}

/* page eleven */
#macrame .case-study .page#eleven {
  background-color: var(--peach);
}

#macrame .case-study .page#eleven .content {
  border-color: var(--ivory);
}

#macrame .case-study .page#eleven .flexbox {
  align-items: baseline;
  justify-content: space-between;
}

#macrame .case-study .page#eleven img {
  width: 98%;
  padding: 20px 0 10px;
  margin: 0 10px;
}

#macrame .case-study .page#eleven h3 {
  text-align: center;
}

/* page twelve */
#macrame .case-study .page#twelve {
  background-color: var(--navy);
}

#macrame .case-study .page#twelve .content {
  background-image: url("../img/macrame/mockups/mbp_desk@1x.jpg");
  background-size: cover;
}

/* #macrame .case-study .page#twelve .large {
  display: block;
} */
#macrame .case-study .page#twelve img {
  width: 13%;
  padding: 12px;
}

/* page thirteen */
#macrame .case-study .page#thirteen {
  background-color: var(--gold);
}

#macrame .case-study .page#thirteen .content {
  border-color: var(--ivory);
}

#macrame .case-study .page#thirteen p+h3 {
  padding-top: 50px;
}

#macrame .case-study .page#thirteen .flexbox {
  align-items: center;
  margin-top: 50px;
  margin-right: 45px;
}

/* Medium devices (1024px or smaller) */
@media only screen and (max-width: 1024px) {
  #macrame .case-study .content {
    padding: 10px 20px;
    height: 715px;
  }

  #macrame .case-study .page#one {
    background-image: unset;
  }

  #macrame .case-study .page#one .content {
    background-image: url("../img/macrame/mockups/title_mobile@2x.jpg");
    background-size: cover;
  }

  #macrame .case-study .page#one img {
    display: block;
    margin: 0 auto;
    width: 143px;
  }

  #macrame .case-study .page#one h4 {
    text-align: center;
    color: var(--ivory);
  }

  #macrame .case-study .page#one p {
    text-align: center;
    padding: 293px 0 0;
  }

  #macrame .case-study .page#two {
    background-size: 61%;
    background-position-x: 276px;
  }

  #macrame .case-study .page#two .content {
    padding-right: 20px;
  }

  #macrame .case-study .page#two h2+h3 {
    padding-top: 40px;
  }

  #macrame .case-study .page#two ul {
    padding-left: 22px;
  }

  #macrame .case-study .page#three h3 {
    margin-top: 5px;
  }

  #macrame .case-study .page#three .flexbox {
    align-items: center;
  }

  #macrame .case-study .page#three .logoimages.flexbox {}

  #macrame .case-study .page#three .logoimages.flexbox img {
    width: 100%;
  }

  #macrame .case-study .page#three .logo-elements.flexbox {
    flex-direction: row-reverse;
    margin-top: 5px;
  }

  #macrame .case-study .page#three .logo-padding.col-lg-8 {
    padding-top: 0;
    margin: 0 0px 8px 0;
  }

  #macrame .case-study .page#three picture.logo-padding {
    text-align: right;
  }

  #macrame .case-study .page#three p.col-md-8.col-sm-12 {
    padding-bottom: 19px;
  }

  #macrame .case-study .page#three .bad-logos.flexbox {
    align-items: start;
  }

  #macrame .case-study .page#three .bad-logos.flexbox img {
    width: 49%;
  }

  #macrame .case-study .page#four h3 {
    margin-top: 5px;
  }

  #macrame .case-study .page#four .content {
    background-image: url("../img/macrame/photography/product_photos_mobile@2x.png");
    background-size: 39%;
    background-position: 338px 349px;
    background-repeat: no-repeat;
  }

  #macrame .case-study .page#four .context.flexbox {
    flex-direction: row-reverse;
    margin-top: 20px;
  }

  #macrame .case-study .page#four .context .text-right {
    text-align: left;
  }

  #macrame .case-study .page#five .gridbox.medium {
    grid-template: 50% 17% 9% 20%/63% 38%;
    display: grid;
  }

  #macrame .case-study .page#five .typography {
    padding-right: 20px;
  }

  #macrame .case-study .page#five .icons-colors {
    grid-row: 1 / 3;
    grid-column: 2;
    padding-left: 20px;
    border-left: 1px solid var(--gold);
  }

  #macrame .case-study .page#five .icons h3 {
    margin-top: 13px;
  }

  #macrame .case-study .page#five .icons figure {
    width: 33%;
    margin-bottom: 10px;
  }

  #macrame .case-study .page#five .icons picture {
    display: flex;
  }

  #macrame .case-study .page#five .icons img {
    width: 38%;
    margin: 0 auto 5px;
  }

  #macrame .case-study .page#five .colors h3 {
    margin-top: 10px;
  }

  #macrame .case-study .page#five .colors figure {
    width: 33%;
    margin-bottom: 10px;
  }

  #macrame .case-study .page#five .colors.flexbox {
    justify-content: center;
    margin-top: 5px;
  }

  #macrame .case-study .page#five .design-elements {
    grid-row: 2;
    grid-column: 1;
  }

  #macrame .case-study .page#five .de {
    grid-row: 3;
    grid-column: 1;
    grid-column-end: span2;
  }

  #macrame .case-study .page#five .de img {
    width: 49.5%;
    float: left;
  }

  #macrame .case-study .page#five .ui-elements.gridbox {
    grid-column-end: span2;
    grid-row: 4;
    grid-column: 1 / span2;
    grid-template-columns: 30% repeat(2, 33%);
  }

  #macrame .case-study .page#five .ui-elements.gridbox img {
    width: 17%;
  }

  #macrame .case-study .page#six .medium img {
    width: auto;
    height: 370px;
    margin: 20px auto 0;
    display: block;
  }

  #macrame .case-study .page#seven .up, #macrame .case-study .page#seven .down {
    padding-top: 50px;
  }

  #macrame .case-study .page#eight .gridbox {
    grid-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 35px);
    margin-top: 20px;
  }

  #macrame .case-study .page#eight .gridbox .hp-h {
    grid-column: 1;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .hp {
    grid-column: 1;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .pc-h {
    grid-column: 2;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .pc {
    grid-column: 2;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .pp-h {
    grid-column: 3;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .pp {
    grid-column: 3;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .c-h {
    grid-column: 4;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .c {
    grid-column: 4;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .ch-h {
    grid-column: 5;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .ch {
    grid-column: 5;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .oc-h {
    grid-column: 5;
    grid-row: 9;
  }

  #macrame .case-study .page#eight .gridbox .oc {
    grid-column: 5;
    grid-row: 10;
  }

  #macrame .case-study .page#eight .gridbox .nm-h {
    grid-column: 4;
    grid-row: 9;
  }

  #macrame .case-study .page#eight .gridbox .nm {
    grid-column: 4;
    grid-row: 10;
  }

  #macrame .case-study .page#eight .gridbox .s-h {
    grid-column: 3;
    grid-row: 9;
  }

  #macrame .case-study .page#eight .gridbox .s {
    grid-column: 3;
    grid-row: 10;
  }

  #macrame .case-study .page#nine .col-md-8, #macrame .case-study .page#nine .col-md-9 {
    float: left;
    padding-right: 10px;
  }

  #macrame .case-study .page#nine .col-md-4, #macrame .case-study .page#nine .col-md-3 {
    float: right;
    padding-top: 35px;
  }

  #macrame .case-study .page#nine figure.col-md-3+figure.col-md-3 {
    padding-top: 0;
  }

  #macrame .case-study .page#nine .user3 img {
    width: 80%;
  }

  #macrame .case-study .page#ten .prototype {
    width: 375px;
    height: 615px;
  }

  #macrame .case-study .page#eleven .flexbox {
    flex-direction: column-reverse;
    text-align: center;
  }

  #macrame .case-study .page#eleven img {
    padding: 0;
  }

  #macrame .case-study .page#eleven .col-lg-3 img {
    width: 30%;
  }

  #macrame .case-study .page#eleven h3 {
    width: 80%;
    margin: 13px auto 0;
  }

  #macrame .case-study .page#twelve .content {
    text-align: center;
    background-image: url("../img/macrame/mockups/mbp_desk_mobile@2x.jpg");
  }

  #macrame .case-study .page#twelve img {
    width: 18%;
    padding: 527px 0 0;
  }

  #macrame .case-study .page#thirteen .flexbox {
    justify-content: center;
    margin-right: 0;
  }

  #macrame .case-study .page#thirteen img {
    margin-top: 30px;
  }
}

/* Small devices (640px and smaller) */
@media only screen and (max-width: 640px) {
  #macrame .case-study .content {
    padding: 10px 18px;
    height: unset;
  }

  #macrame .case-study .page#one .content {
    background-position: center;
  }

  #macrame .case-study .page#one img {
    display: block;
    margin: 0 auto;
    width: 103px;
  }

  #macrame .case-study .page#one h4 {
    text-align: center;
    color: var(--ivory);
  }

  #macrame .case-study .page#one p {
    padding: 200px 0 0;
  }

  #macrame .case-study .page#two {
    background-size: 40%;
    background-position: bottom right;
  }

  #macrame .case-study .page#two h2+h3 {
    padding-top: 10px;
  }

  #macrame .case-study .page#three picture.logo-padding {
    text-align: center;
  }

  #macrame .case-study .page#three .logo-padding img {
    width: 60%;
    padding-bottom: 5px;
  }

  #macrame .case-study .page#three .bad-logos.flexbox {
    row-gap: 10px;
    justify-content: left;
  }

  #macrame .case-study .page#three .bad-logos.flexbox figure {
    width: 25%;
  }

  #macrame .case-study .page#three .bad-logos.flexbox img {
    width: 75%;
  }

  #macrame .case-study .page#four .content {
    background-image: unset;
  }

  #macrame .case-study .page#four .context.flexbox {
    flex-direction: unset;
    margin-top: 0;
  }

  #macrame .case-study .page#four .context.flexbox p {
    padding-bottom: 5px;
  }

  #macrame .case-study .page#four .context .text-right {
    text-align: center;
  }

  #macrame .case-study .page#five .typography {
    padding-right: 0;
  }

  #macrame .case-study .page#five .icons figure {
    width: 16%;
    margin-bottom: 5px;
  }

  #macrame .case-study .page#five .icons img {
    width: 51%;
    margin-bottom: 10px;
  }

  #macrame .case-study .page#five .colors figure {
    width: 20%;
    margin-bottom: 5px;
  }

  #macrame .case-study .page#five .gridbox.medium {
    display: none;
  }

  #macrame .case-study .page#five .ui-elements.gridbox {
    grid-template-columns: 32% repeat(2, 1fr);
    row-gap: 4px;
    padding-bottom: 10px;
  }

  #macrame .case-study .page#six .medium img {
    width: 100%;
    height: auto;
    margin: 10px auto 5px;
  }

  #macrame .case-study .page#seven .up, #macrame .case-study .page#seven .down {
    padding-top: 30px;
  }

  #macrame .case-study .page#seven picture {
    padding-left: 7px;
    display: flex;
  }

  #macrame .case-study .page#eight .gridbox {
    grid-gap: 7px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    margin-top: 20px;
  }

  #macrame .case-study .page#eight .gridbox .hp-h {
    grid-column: 1;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .hp {
    grid-column: 1;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .pc-h {
    grid-column: 2;
    grid-row: 1;
  }

  #macrame .case-study .page#eight .gridbox .pc {
    grid-column: 2;
    grid-row: 2;
  }

  #macrame .case-study .page#eight .gridbox .pp-h {
    grid-column: 1;
    grid-row: 4;
  }

  #macrame .case-study .page#eight .gridbox .pp {
    grid-column: 1;
    grid-row: 5;
  }

  #macrame .case-study .page#eight .gridbox .c-h {
    grid-column: 2;
    grid-row: 4;
  }

  #macrame .case-study .page#eight .gridbox .c {
    grid-column: 2;
    grid-row: 5;
  }

  #macrame .case-study .page#eight .gridbox .ch-h {
    grid-column: 1;
    grid-row: 6;
  }

  #macrame .case-study .page#eight .gridbox .ch {
    grid-column: 1;
    grid-row: 7;
  }

  #macrame .case-study .page#eight .gridbox .oc-h {
    grid-column: 2;
    grid-row: 6;
  }

  #macrame .case-study .page#eight .gridbox .oc {
    grid-column: 2;
    grid-row: 7;
  }

  #macrame .case-study .page#eight .gridbox .nm-h {
    grid-column: 1;
    grid-row: 8;
  }

  #macrame .case-study .page#eight .gridbox .nm {
    grid-column: 1;
    grid-row: 9;
  }

  #macrame .case-study .page#eight .gridbox .s-h {
    grid-column: 2;
    grid-row: 8;
  }

  #macrame .case-study .page#eight .gridbox .s {
    grid-column: 2;
    grid-row: 9;
  }

  #macrame .case-study .page#nine .col-md-4, #macrame .case-study .page#nine .col-md-3 {
    padding-top: 0;
  }

  #macrame .case-study .page#nine .user2 img {
    height: auto;
  }

  #macrame .case-study .page#nine .example {
    float: unset;
    margin: 0 auto;
    ;
  }

  #macrame .case-study .page#ten .prototype {
    width: 100%;
    padding-top: 10px;
  }


  #macrame .case-study .page#eleven .col-lg-3 img {
    width: 45%;
  }

  #macrame .case-study .page#twelve .content {
    height: 536px;
    background-position: left;
    background-image: url("../img/macrame/mockups/final_mobile.jpg");
  }

  #macrame .case-study .page#twelve img {
    padding-top: 319px;
  }

  #macrame .case-study .page#thirteen p+h3 {
    padding-top: 0
  }

  #macrame .case-study .page#thirteen .flexbox {
    margin-top: 0;
  }

  #macrame .case-study .page#thirteen img {
    margin-top: 0;
    padding-bottom: 10px;
  }
}
