/* Macrame Case Study */
:root {
  --navy: #2c3c6a;
  --ivory: #faf5e9;
  --sage: #3b665f;
  --peach: #deb491;
  --gold: #cc9933;
  --orange: #cf6f30;
}

#macrame .case-study .page {
  background-color: #faf5e9;
  font-family: 'Poppins', sans-serif;
  color: var(--navy);
  line-height: 1.4;
  box-sizing: content-box;
}
#macrame .case-study .content {
  padding: 20px 30px;
  border: solid var(--gold) 3px;
  border-radius: 7px;
  height: 540px;
}
#macrame .case-study h2 {
  font-weight: 700;
  color: var(--navy);
  text-align: left;
  margin: 0;
}
#macrame .case-study h3 {
  font-weight: 600;
  font-size: 1em;
  color: var(--navy);
  text-align: left;
  margin: 13px 0 0;
}
#macrame .case-study h4 {
  color: var(--gold);
  font-weight: 400;
  font-size: .8em;
}
#macrame .case-study p, ul {
  margin: 2px 0 7px;
  font-size: 14px;
}
#macrame .case-study figcaption {
  color: var(--orange);
  font-size: .65em;
  line-height: 1.3em;
}

/* page one */
#macrame .case-study .page#one {
  background-image: url("../img/macrame/mockups/title_bg@2x.png");
  background-size: 100%;
}
#macrame .case-study .page#one .content {
  padding: 30px 40px;
}
#macrame .case-study .page#one img {
  width: 152px;
}
#macrame .case-study .page#one p {
  text-align: right;
  padding: 160px 165px 0 0;
  font-size: 1em;
}

/* page two */
#macrame .case-study .page#two {
  background-image: url("../img/macrame/mockups/iphone_hand@2x.png");
  background-size: 42%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: var(--peach);
}
#macrame .case-study .page#two .content {
  padding-right: 330px;
}

/* page three */
#macrame .case-study .page#three {
  background-image: url('../img/macrame/logos/logo_bounds@2x.png');
  background-repeat: no-repeat;
  background-position: 90% 16%;
  background-size: 12%;
}
#macrame .case-study .page#three .col-l figure {
  width: 40%;
}
#macrame .case-study .page#three .col-l .logo-images {
  display: inline-block;
  padding: 5px 0;
  width: 80%;
  margin-left: 26px;
}
#macrame .case-study .page#three .col-l .logo-images figure.left {
  padding-right: 20px;
}
#macrame .case-study .page#three .col-r .logo-padding {
  padding-right: 140px;
  margin-bottom: 25px;
}
#macrame .case-study .page#three .col-r .bad-logos {
  display: inline-block;
  padding-top: 2px;
}
#macrame .case-study .page#three .col-r .bad-logos figure {
  width: 20%;
}
#macrame .case-study .page#three .col-r .bad-logos img {
  width: 80%;
}

/* page four */
#macrame .case-study .page#four .col-l ol {
  font-weight: 600;
  font-size: .9em;
  margin-top: 5px;
}
#macrame .case-study .page#four .col-l .description {
  font-weight: 500;
}
#macrame .case-study .page#four .col-r img {
  margin: 20px 0;
}
#macrame .case-study .page#four p.context {
  width: 60%;
  float: left;
}
#macrame .case-study .page#four .context img {
  width: 37%;
  float: right;
  margin-top: 5px;
}

/* page five */
#macrame .case-study .page#five .typography .poppins-heading {
  color: var(--orange);
  font-weight: 600;
  font-size: 1em;
}
#macrame .case-study .page#five .typography .poppins-body {
  color: var(--orange);
  font-weight: 400;
  font-size: .9em;
}
#macrame .case-study .page#five .typography .heirarchy .col-r, .heirarchy .col-l {
  margin-left: 0;
  color: var(--orange);
}
#macrame .case-study .page#five .typography .heirarchy {
  display: block;
  width: 100%;
}
#macrame .case-study .page#five .typography .heirarchy .title {
  font-size: 1em;
  font-weight: 600;
  color: var(--navy);
  margin-bottom: 0;
}
#macrame .case-study .page#five .typography .heirarchy img {
  width: 205px;
  margin: 5px 0 10px;
}
#macrame .case-study .page#five .icons {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
#macrame .case-study .page#five .icons figure {
  width: 16%;
}
#macrame .case-study .page#five .icons img {
  width: 45%;
}
#macrame .case-study .page#five .colors {
  display: inline-block;
  width: 100%;
}
#macrame .case-study .page#five .colors figure {
  width: 20%;
}
#macrame .case-study .page#five .colors img {
  width: 50%;
}
#macrame .case-study .page#five .ui_elements .title {
  color: var(--orange);
  font-weight: 400;
  font-size: .7em;
  vertical-align: bottom;
  text-align: center;
}
#macrame .case-study .page#five .ui_elements h3 {
  line-height: 19px;
}
#macrame .case-study .page#five .ui_elements td.labels {
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  width: 123px;
}
#macrame .case-study .page#five .ui_elements .second {
  font-weight: 400;
  font-size: 11px;
  text-decoration: underline;
  padding: 8px 0;
}
#macrame .case-study .page#five .ui_elements .second.active {
  font-weight: 600;
}
#macrame .case-study .page#five .ui_elements img {
  width: 20%;
}
#macrame .case-study .page#five .ui_elements .button {
  background-color: var(--sage);
  color: var(--ivory);
  font-weight: 400;
  font-size: 11px;
  width: 88px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 20px 2px;
}
#macrame .case-study .page#five .ui_elements .center {
  text-align: center;
}
#macrame .case-study .page#five .design_elements {
  margin-top: 7px;
}

/* page six */
#macrame .case-study .page#six {
  background-color: var(--peach);
}
#macrame .case-study .page#six .user-stories {
  display: inline-block;
  width: 100%;
}
#macrame .case-study .page#six .user-stories .three-col {
  margin-top: 5px;
}

/* page seven */
#macrame .case-study .page#seven {
  background-color: var(--gold);
}
#macrame .case-study .page#seven .content {
  border-color: var(--ivory);
}
#macrame .case-study .page#seven figure {
  width: 104px;
}
#macrame .case-study .page#seven img {
  width: 90%;
}
#macrame .case-study .page#seven .up {
  padding-top: 75px;
}
#macrame .case-study .page#seven .down {
  padding-top: 185px;
}
#macrame .case-study .page#seven figcaption {
  color: var(--navy);
  font-size: .7em;
}

/* page eight */
#macrame .case-study .page#eight {
  background-color: var(--sage);
}
#macrame .case-study .page#eight figure {
  width: 104px;
  margin-top: 15px;
}
#macrame .case-study .page#eight h2 {
  color: var(--ivory);
}
#macrame .case-study .page#eight img {
  width: 90%;
  padding-left: 5px;
}
#macrame .case-study .page#eight figcaption {
  font-size: .6em;
  color: var(--gold);
  margin-bottom: 5px;
}

/* page nine */
#macrame .case-study .page#nine .three-col span {
  padding-left: 30px;
}
#macrame .case-study .page#nine .three-col.user2 figure {
  width: 49%;
}
#macrame .case-study .page#nine .three-col.user2 img {
  padding-left: 5px;
  height: 165px;
}
#macrame .case-study .page#nine .three-col.user3 {
  float: right;
  padding-right: 0;
}
#macrame .case-study .page#nine .three-col.user3 figure {
  padding-top: 5px;
}
#macrame .case-study .page#nine .three-col.user3 img {
  width: 57%;
}

/* page ten */
#macrame .case-study .page#ten {
  background-color: var(--navy);
}
#macrame .case-study .page#ten h2 {
  color: var(--ivory);
}
#macrame .case-study .page#ten .col {
  width: 139px;
  float: left;
  margin-top: 15px;
}
#macrame .case-study .page#ten .col.odd {
  padding: 100px 0;
}
#macrame .case-study .page#ten .col img {
  width: 77%;
  padding-left: 18px;
}

/* page eleven */
#macrame .case-study .page#eleven {
  background-color: var(--peach);
}
#macrame .case-study .page#eleven .content {
  border-color: var(--ivory);
}
#macrame .case-study .page#eleven img {
  width: 98%;
  padding: 20px 0 10px;
  margin: 0 10px;
}
#macrame .case-study .page#eleven h3 {
  text-align: center;
}

/* page twelve */
#macrame .case-study .page#twelve {
  background-color: var(--navy);
}
#macrame .case-study .page#twelve .content {
  background-image: url("../img/macrame/mockups/mbp_desk@1x.jpg");
  background-size: cover;
}
#macrame .case-study .page#twelve img {
  width: 13%;
  padding: 12px;
}

/* page thirteen */
#macrame .case-study .page#thirteen {
  background-color: var(--gold);
}
#macrame .case-study .page#thirteen .content {
  border-color: var(--ivory);
}
#macrame .case-study .page#thirteen .col-l {
  width: 60%;
}
#macrame .case-study .page#thirteen .col-r {
  width: 30%;
  padding: 75px 30px 0 0;
}
#macrame .case-study .page#thirteen h3 {
  padding-top: 50px;
}
