/* Sitewide stylings */
* {
  box-sizing: border-box;
}
:root {
  --dk-turq: #04364f;
  --med-turq: #10b5b7;
  --lt-turq: #4FE0D2;
  --wt-turq: #d4ede9;
  --pink: #FACDD6;
}
body {
  background-color: var(--dk-turq);
  color: var(--wt-turq);
  margin: 0;
  font-family: 'Mulish', sans-serif;
  line-height: 1.3;
  font-size: 16px;
}
main {
  padding-top: 30px;
}
img {
  width: 100%;
}
hr {
  border: 1px solid var(--med-turq);
  width: 270px;
  margin: 0 auto;
}
.no-right-pad {
  padding-right: 0;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gridbox {
  display: grid;
}
.bracket {
  color: var(--med-turq);
}
.container {
  padding: 20px 0;
  width: 1000px;
  margin: 0 auto;
  display: block;
}

/* Header & Nav */
header {
  width: 1000px;
  margin: 0 auto;
}
.navtoggle nav {
  text-align: right;
  margin-top: 58px;
  float: right;
  z-index: 10;
}
.navtoggle nav ul {
  list-style-type: none;
  padding: 0;
}
.navtoggle nav li:not(:first-child) {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0 0 30px;
}
.navtoggle nav li:not(:first-child) a {
  position: relative;
  z-index: 0;
  text-decoration: none;
}
.navtoggle li:first-child {
  display: none;
}
.modal {
  background-color: var(--dk-turq);
  z-index: -1;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity .5s, z-index .5s;
}
.modal.clicked {
  transition: opacity .5s;
  opacity: .7;
  z-index: 9;
}

/* Nav Animation */
.navtoggle nav li:not(:first-child) a:before, nav li:not(:first-child) a:after {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid var(--lt-turq);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}
.navtoggle nav li:not(:first-child) a:after {
  border-width: 2px;
  transition: all 0.4s;
}
.navtoggle nav li:not(:first-child) a:hover:before {
  opacity: .2;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.navtoggle nav li:not(:first-child) a:hover:after {
  opacity: .15;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}
.navtoggle nav li:not(:first-child) a:active {
  color: var(--wt-turq);
}
.navtoggle nav li:not(:first-child) a:active:before {
  opacity: .5;
}
.navtoggle nav li:not(:first-child) a:active:after {
  opacity: .45;
}

/* Floating Nav */
.dot, .dot:before, .dot:after {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: var(--wt-turq);
  transform: rotate(270deg);
  cursor: pointer;
}
.dot {
  margin-top: 10px;
}
.dot:before, .dot:after {
  content: "";
}
.dot:before {
  right: 10px;
  transition: right .5s, height .5s, width .5s, transform .5s;
  transition-delay: .3s;
}
.dot:after {
  left: 10px;
  transition: left .5s, height .5s, width .5s, transform .5s;
  transition-delay: .3s;
}
.dots .dot.clicked:before {
  right: -8px;
  height: 5px;
  width: 22px;
  transform: rotate(225deg);
  transition: right .5s, height .5s, width .5s, transform .5s;
  transition-delay: .3s;
}
.dots .dot.clicked:after {
  left: -8px;
  height: 5px;
  width: 22px;
  transform: rotate(135deg);
  transition: left .5s, height .5s, width .5s, transform .5s;
  transition-delay: .3s;
}
.navtoggle.scrolled nav {
  position: fixed;
  margin-top: 0;
  top: 10px;
  right: -20px;
}
.navtoggle.scrolled nav ul {
  position: relative;
  right: -289px;
  display: inline-block;
  transition: right .3s ease-out;
  background-image: url("../img/menu_bg.svg");
  background-size: cover;
  width: 309px;
  filter: drop-shadow(2px 2px 3px #021D28);
}
.navtoggle.scrolled.complete nav ul {
  right: -254px;
  transition: right .3s ease-out;
}
.navtoggle.scrolled nav.clicked ul {
  right: 20px;
  transition: right .5s ease-out;
}
.navtoggle.scrolled li {
  display: block;
  height: 26px;
}
.navtoggle.scrolled li a {
  padding: 0 15px 0 8px;
  width: 100%;
  color: var(--wt-turq);
}
.navtoggle.scrolled li:first-child {
  display: inline-block;
  font-size: 1.7em;
  line-height: 0em;
  margin: 3px 0 5px 7px;
}
.navtoggle.scrolled li:first-child img {
  height: 26px;
  width: auto;
}
.navtoggle.scrolled nav ul li:not(:first-child) {
  padding: 0;
}
.navtoggle.scrolled li:not(:first-child) a {
  top: 9px;
}
.navtoggle.scrolled nav ul li:not(:first-child) a:hover {
  color: var(--lt-turq);
  transition: color .2s;
}
.navtoggle.scrolled nav ul li:not(:first-child) a:active {
  color: var(--dk-turq);
  transition: color .2s;
}
.navtoggle.scrolled nav li:not(:first-child) a:hover:before, .navtoggle.scrolled nav li:not(:first-child) a:hover:after  {
  opacity: 0;
}


/* Text */
h1, h2, h3 {
  text-align: center;
  color: #C1E5E0;
}
h3 {
  font-weight: 500;
  margin: 5px 0 10px;
}
p, ul {
  font-weight: 300;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* Links & Buttons */
a {
  color: var(--lt-turq);
}
a:visited {
  color: var(--lt-turq);
}
a.button {
  display: inline-block;
  background-color: var(--lt-turq);
  color: var(--dk-turq);
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  transition: .2s opacity;
  text-decoration: none;
  opacity: .9;
}
a.button:hover, a.button:active {
  opacity:1;
}
a.button:active {
  text-decoration: underline;
}
a.button.contact {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid var(--med-turq);
  color: var(--wt-turq);
  margin: 0 0 15px;
}
a.button.contact:hover, a.button.contact:active {
  background-color: var(--lt-turq);
  border-color: var(--lt-turq);
  color: var(--dk-turq);
  text-decoration: none;
}
a.button.contact:active {
  text-decoration: underline;
}
.button-cont {
  text-align: center;
  margin-top: 15px;
}

/* Footer */
footer {
  text-align: center;
}
footer h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
footer .social-media p {
  margin-bottom: 0;
}
footer .social-media a {
  color: var(--med-turq);
  text-decoration: none;
}
footer .social-media a:hover {
  color: var(--lt-turq);
}
footer a i {
  font-size: 25px;
  padding: 20px;
}
footer .copyright {
  font-size: .65em;
}

/* Case Studies */
.case-study {
  margin:0 auto 50px auto;
  width: 1000px;
}
.case-study .page {
  height: 640px;
  margin-bottom: 15px;
}
.case-study .container {
  padding: 50px;
  height: 540px;
}
.case-study figure {
  margin: 0;
  text-align: center;
}


/* Responosive columns */
.col-lg-1 {
  width: 8%;
}
.col-lg-1_5 {
  width: 12%;
}
.col-lg-1_75 {
  width: 14%;
}
.col-lg-2 {
  width: 16%;
}
.col-lg-2_25 {
  width: 19%;
}
.col-lg-3 {
  width: 24%;
}
.col-lg-4 {
  width: 32%;
}
.col-lg-5 {
  width: 40%;
}
.col-lg-6 {
  width: 48%;
}
.col-lg-7 {
  width: 57%;
}
.col-lg-8 {
  width: 65%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83%;
}
.col-lg-11 {
  width: 91%;
}
.col-lg-12 {
  width: 100%;
}
.medium {
  display: none;
}
.large.medium {
  display: revert;
}


/* Medium devices (1024px or smaller) */
@media only screen and (max-width: 1024px) {
  header {
    width: 100%;
  }
  header .container {
    margin: 0;
    padding: 20px 20px 15px;
  }
  header .container img {
    width: 590px;
  }
  .navtoggle nav {
    margin-top: 15px;
  }
  .navtoggle nav ul {
    padding: 0;
    margin: 0;
  }
  .navtoggle nav ul li:not(:first-child) {
    padding: 0 0 0 40px;
  }
  .navtoggle nav li:not(:first-child) {
    text-align: right;
    padding-right: 0;
  }
  .navtoggle nav li:third-child, .navtoggle nav li:fourth-child {
    padding-top: 15px;
  }
  .navtoggle nav li:not(:first-child) a:before, nav li:not(:first-child) a:after {
    width: 40px;
    height: 40px;
  }
  .col-md-_5 {
    width: 7%;
  }
  .col-md-1 {
    width: 8%;
  }
  .col-md-1_5 {
    width: 12%;
  }
  .col-md-1_75 {
    width: 14%;
  }
  .col-md-2 {
    width: 16%;
  }
  .col-md-2_25 {
    width: 19%;
  }
  .col-md-3 {
    width: 24%;
  }
  .col-md-4 {
    width: 32%;
    float: left;
  }
  .col-md-5 {
    width: 40%;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-7 {
    width: 57%;
  }
  .col-md-8 {
    width: 65%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83%;
  }
  .col-md-12 {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 3px 15px 0;
    margin: 20px auto;
  }
  .case-study {
    margin:0 auto 50px auto;
    width: 640px;
  }
  .case-study .page {
    height: 775px;
  }
  .case-study .container {
    padding: 30px;
    height: 775px;
  }
  .large {
    display: none;
  }
  .small {
    display: none;
  }
  .medium {
    display: revert;
  }
}

/* Small devices (640px and smaller) */
@media only screen and (max-width: 640px) {
  header {
    height: unset;
  }
  header .container {
    padding-right: 0;
  }
  header .container img {
    padding-top: 0;
  }
  main {
    padding-top: 0px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  .col-sm-1 {
    width: 8%;
  }
  .col-sm-1_5 {
    width: 12%;
  }
  .col-sm-1_75 {
    width: 14%;
  }
  .col-sm-2 {
    width: 16%;
  }
  .col-sm-3 {
    width: 24%;
  }
  .col-sm-4 {
    width: 32%;
    float: left;
  }
  .col-sm-5 {
    width: 40%;
  }
  .col-sm-6 {
    width: 49%;
  }
  .col-sm-7 {
    width: 57%;
  }
  .col-sm-8 {
    width: 65%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83%;
  }
  .col-sm-11 {
    width: 91%;
  }
  .col-sm-12 {
    width: 100%;
  }
  #contact.container.col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
  .container {
    width: 100%;
  }
  .case-study {
    margin: 0 auto 20px auto;
    width: 100%;
    padding: 0 15px;
  }
  .case-study .page {
    height: unset;
  }
  .case-study .container {
    padding: 23px;
    height: unset;
  }
  .large {
    display: none;
  }
  .medium {
    display: none;
  }
  .large.medium {
    display: none;
  }
  .small {
    display: revert;
  }
  header .container {
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
  }
  .navtoggle {
    align-items: flex-end;
  }
  .navtoggle img.logo {
    width: 340px;
  }
  .navtoggle nav {
    position: fixed;
    margin-top: 0;
    top: 10px;
  }
  .navtoggle nav ul {
    position: relative;
    right: -254px;
    display: inline-block;
    transition: right .5s ease-out;
    background-image: url("../img/menu_bg.svg");
    background-size: cover;
    width: 309px;
    filter: drop-shadow(2px 2px 3px #021D28);
  }
  .navtoggle nav.clicked ul {
    right: 20px;
    transition: right .5s ease-out;
  }
  .navtoggle li {
    display: block;
    height: 26px;
  }
  .navtoggle li a {
    padding: 0 15px 0 8px;
    width: 100%;
    color: var(--wt-turq);
  }
  .navtoggle li:first-child {
    display: inline-block;
    font-size: 1.7em;
    line-height: 0em;
    margin: 3px 0 5px 7px;
  }
  .navtoggle li:first-child img {
    height: 26px;
    width: auto;
  }
  .navtoggle nav ul li:not(:first-child) {
    padding: 0;
  }
  .navtoggle li:not(:first-child) a {
    top: 9px;
  }
  .navtoggle nav li:not(:first-child) a:hover:before, .navtoggle nav li:not(:first-child) a:hover:after  {
    opacity: 0;
  }
}
