body {
  background-color: #04364f;
  color: #d4ede9;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}
header {
  background-image: url("../img/header@2x.png");
}
header img {
  width: 50%;
}
header p {
  text-align: center;
}
nav {
  float: right;
}
h1, h2, h3 {
  text-align: center;
  color: #10b5b7;
}
a {
  color: #10b5b7;
}
#homepage .column-lt {
  display: inline;
}
#homepage .column-lt img {
  width: 50%;
}
#homepage .column-rt {
  width: 40%;
  float: right;
}
footer {
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a i {
  font-size: 25px;
  padding: 20px;
}

/* Case Studies */
.case-study {
  margin:0 auto 50px auto;
  width: 1000px;
}

/*beleaf case study */
:root {
  --dark: #022B12;
  --med: #00623D;
  --light: #649F74;
}

#beleaf .case_study .page {
  background: radial-gradient(#fef2f0, #dec8c4);
}


/* Compleat case study */
